<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Aulia's Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <style>
        .fa {
          padding: 20px;
          font-size: 30px;
          width: 30px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
          border-radius: 50%;
        }
        
        .fa:hover {
            opacity: 0.7;
        }
        
        .fa-instagram {
        background: #f40083;
        color: white;
        }
    </style>
    </head>

    <body id="body0">
        {% include 'navbar.html' %}
        <h1>Welcome to my website!</h1>
        <img src="{% static 'Pas foto bulet.png' %}" width="250" height="250">
        <h2>Aulia Radityatama Suhendra</h2>

        <h3>Tentang saya:</h3>
        <p>Mahasiswa Fakultas Ilmu Komputer Universitas Indonesia</p>

        <h3>Biodata:</h3>
        <ul>
            <li>Nama lengkap: Aulia Radityatama Suhendra</li>
            <li>Nama panggilan: Aulia</li>
            <li>NPM: 1906399865</li>
            <li>Angkatan: 2019</li>
            <li>Jurusan: Sistem Informasi</li>
        </ul>

        <h3>Hobi:</h3>
        <ul>
            <li>Main game</li>
            <li>Main & dengerin musik</li>
            <li>Streaming YouTube</li>
        </ul>

        <h3>Riwayat pendidikan:</h3>
        <ul>
            <li>SDIT Citra Az-Zahra</li>
            <li>SMP Islam Al-Azhar 4</li>
            <li>SMAN 78 Jakarta</li>
            <li>Universitas Indonesia</li>
        </ul>

        <h3>Sosial Media:</h3>
        <a href="https://www.instagram.com/aulia_radityatama/" class="fa fa-instagram"></a>


    </body>
</html>