#body0 {
    background: url('https://cdn.wallpapersafari.com/52/42/QZLH6U.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }

.body1 {
    background: url('background image 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   } 




#profil{
    position: relative; 
    max-width: 465px;
    max-height: 324px;
    margin-left: 130px;
    margin-top: 150px;
  }





.sekolah{
    position: relative;  
    max-width: 465px;
    max-height: 324px;
    margin-top: 150px;
}

#tulisanjudulriw{
    background-color: #D6CE8E;
    width: 400px;
    padding: 20px;
    margin: 190px;
    border: 1px solid black;
}

#tulisanjudulskill{
    background-color: #D6CE8E;
    width: 420px;
    padding: 20px;
    margin: 220px;
    border: 1px solid black;
}

.sekolah{
    background-color: #D0A985;
    width: 250px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}

.skill{
    background-color: #D0A985;
    width: 300px;
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
    border: 1px solid black;
}

#judulsaya{
    background-color: #D6CE8E;
    width: 300px;
    padding: 20px;
    margin: 220px;
    border: 1px solid black;
}

#deskripsi{
    background-color: #D0A985;
    width: 500px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    margin-top: -150px;
}

#judulhobi{
    background-color: #D6CE8E;
    padding: 20px;
    margin: 20px;
    margin-top: 230px;
    width: 250px;
    border: 1px solid black;
}

.hobi{
    background-color: #D0A985;
    width: 250px;
    padding: 20px;
    margin: 100px;
    margin-top: 100px;
    border: 1px solid black; 
}

.org{
    background-color: #D0A985;
    width: 250px;
    padding: 20px;
    margin: 100px;
    margin-top: 100px;
    border: 1px solid black;
}

#judulaward{
    background-color: #D6CE8E;
    padding: 20px;
    margin: 20px;
    margin-top: 230px;
    width: 250px;
    border: 1px solid black;
}
.award{
    background-color: #D0A985;
    width: 350px;
    padding: 20px;
    margin: 50px;
    margin-top: 100px;
    border: 1px solid black;
}

#barisskill{
    margin-top: -100px;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 50px 50px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #f40083;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

#footer{
    margin-top: 200px;
}

#judulorg{
    background-color: #D6CE8E;
    padding: 20px;
    margin: 20px;
    margin-top: 230px;
    border: 1px solid black;
}

#judulfoto{
    background-color: #D6CE8E;
    padding: 20px;
    margin: 20px;
    margin-top: 230px;
    border: 1px solid black;
}

.responsive {
    position: relative;
    max-width: 360px;
    max-height: 290px;
    margin-top: 150px;
    width: 100%;
    height: auto;
}

.responsive2 {
    position: relative;
    max-width: 700px;
    max-height: 700px;
    margin-top: 130px;
    width: 100%;
    height: auto;
}